@import "variables";

@mixin mq($breakpoind: lg) {
  @media #{map-get($breakpoints, $breakpoint)}{
    @content;
  }
}

@mixin writing-mode($mode:rl) {
  -webkit-writing-mode: vertical-#{mode};
  -ms-writing-mode: tb-#{mode};
  writing-mode: vertical-#{mode};
}

@mixin font-feature-settings($settings: 'palt') {
  -webkit-font-feature-settings: $settings;
  font-feature-settings: $settings;
}