@font-face {
  font-family: 'Yu Mincho', 'Yumincho';
  src: url("../woff/yumin.woff") format("woff");
}

// @import url('https://fonts.googleapis.com/css?family=Noto+Serif+JP:200,300,400,500,600,700,900&display=swap');

$font-family: 'Yu Mincho', '游明朝', 'YuMincho', 'Noto Serif JP', 'Noto Serif CJK JP', 'Hiragino Mincho ProN', 'ヒラギノ明朝 Pro', 'HGP明朝B', serif;
$font-family-en: 'Baskerville', 'Yu Mincho', '游明朝', 'YuMincho', 'Times New Roman', Times, serif;

$color-type: #fff;
$color-gray: #555;
$color-bg: #313131;
$color-bg-header: #1c1c1c;
$color-cover: #222;
$color-black: #111;
$color-span-bg: rgba(255, 255, 255, 0.8);

$thin: 100;
$extralight: 200;
$light: 300;
$regular: 400;
$medium: 500;
$semibold: 600;
$bold: 700;
$extrabold: 800;
$black: 900;

$screen-sm-min: 576px;
$screen-md-min: 768px;
$screen-lg-min: 992px;
$screen-xl-min: 1200px;

// header width
$header-width-sm: 50px;
$header-width-md: 50px;
$header-width-lg: 65px;
$header-width-xl: 65px;

// intro width
@mixin intro-width($width) {
  width: calc(100vw - 50px);

  @media (min-width: $screen-lg-min) {
    width: calc(100vw - 65px);
  }
}

// content height
$common-height: 380px;
@mixin common-height() {
  height: 100%;
  min-height: 380px;
  height: calc(var(--vh, 1vh) * 90);

  @media (min-width: $screen-md-min) {
    max-height: 480px;
  }
}