@font-face {
  font-family: 'Yu Mincho', 'Yumincho';
  src: url("../woff/yumin.woff") format("woff");
}

$font-family: 'Yu Mincho', '游明朝', 'YuMincho', 'Hiragino Mincho ProN', 'ヒラギノ明朝 Pro', 'HGP明朝B', serif;
$breakpoints: (
  "sm" : "screen and (min-width: 576px)",
  "md" : "screen and (min-width: 768px)",
  "lg" : "screen and (min-width: 992px)",
  "xl" : "screen and (min-width: 1200px)",
) !default;

$color-type: #fff;
$color-bg: #313131;
$color-bg-header: #1c1c1c;

$thin: 100;
$extralight: 200;
$light: 300;
$regular: 400;
$medium: 500;
$semibold: 600;
$bold: 700;
$extrabold: 800;
$black: 900;

$screen-sm-min: 576px;
$screen-md-min: 768px;
$screen-lg-min: 992px;
$screen-xl-min: 1200px;