@import "variables";
@import "mixins";
@import "header";
@import "footer";

* {
  box-sizing: border-box;
}

body {
  font-family: $font-family;
  width: 100%;
  max-height: 100vh;
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  writing-mode: vertical-rl;
  background: $color-bg;
  color: $color-type;
  // @include writing-mode(rl);
  // @include font-feature-settings('palt');
}

h1,
h2,
h3,
h4,
p,
a {
  text-combine-upright: digits 2;
  color: $color-type;
}

p {
  font-size: 16px;
}

a {
  text-decoration: none;
}

.site {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;

  &-content {
    min-width: 100%;
    display: flex;
    justify-content: center;
  }
}

.content,
.content.shelf {
  max-height: 30em;
}

.content {
  &.shelf {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.intro {
  display: flex;
  align-items: center;
  width: calc(100vw - 64px);

  @include lg {
    width: calc(100vw - 90px);
  }

  &__text {
    color: #fff;
  }

  &__title {
    font-size: 13px;
  }

  &__content {
    font-size: 18px;
  }
}

.article {
  position: relative;
  width: 16rem;
  height: 22rem;
  margin: 2rem;

  @include lg {
    height: 20rem;
  }

  &__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    box-shadow: 0 10px 20px #252525;
    transition: all .2s linear;
    opacity: 0.8;

    &:hover {
      box-shadow: 0 10px 20px #191919;
      transition: all .2s linear;
      opacity: 1;
    }
  } 

  &__title {
    position: absolute;

    &.ptrn-a {
      top: 0;
      right: 0;
      margin: 2rem 2rem 2rem 0;
      color: white;
    }

    &.ptrn-b {
      top: 0;
      right: 36%;
      margin: 2rem auto;
    }

    &.ptrn-c {
      top: 0;
      right: initial;
      left: 0;
      margin: 2rem 0 2rem 2rem;
    }

    &_main {
      margin: 0 4px;
      font-size: 22px;
    }

    &_subs {
      margin: 0 4px;
      font-size: 14px;
    }
  }
}

.article-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  

  &__img {
    width: 70vw;
    max-height: 100%;
    object-fit: cover;

    @include lg {
      width: 50vw;
    }
  }

  &__title {
    position: absolute;
    right: 0;
    margin: 90px calc(100vw / 4.5) 90px 90px;

    @include lg {
      margin-top: 64px;
      margin: 90px calc(100vw / 5.25) 90px 90px;
    }

    &_main,
    &_subs {
      margin: 0 8px;
    }

    &_main {
      font-size: 28px;
    }

    &_subs {
      font-size: 18px;
    }
  }
}

.entry {
  &-header {
    position: relative;
    margin-left: 6rem;
  }

  &-content {
    height: 420px;

    h2 {
      margin: 0 6rem 0 2rem;
    }

    h3 {
      margin: 0 4rem 0 1.75rem;
    }

    h4 {
      margin: 0 3rem 0 1.5rem;
    }

    h5 {
      margin: 0 2rem 0 1rem;
    }
  }
}

.share {
  margin: 0 5rem;

  &__container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  &__button {
    display: flex;
    align-items: center;
    width: 2.75rem;
    height: calc(100% - 5rem);
    margin: 0 0 10px 0;
    padding: 0;
    color: $color-type;
    border: 1px solid $color-type;
    transition: all .3s ease;

    svg {
      fill: $color-type;
      width: 80%;
    }

    p {
      margin: 0;
      font-size: 12px;
    }

    &:hover {
      background: $color-type;
      color: $color-bg;
      transition: all .3s ease;

      svg {
        fill: $color-bg;
      }
    }
  }
}

#wpadminbar {
  writing-mode: horizontal-tb;
}