@import "variables";
@import "mixins";
@import "header";
@import "footer";

* {
  box-sizing: border-box;
}

body {
  font-family: $font-family;
  width: 100%;
  max-height: 100vh;
  height: calc(var(--vh, 1vh) * 100);
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  writing-mode: vertical-rl;
  background: $color-bg;
  // @include writing-mode(rl);
  // @include font-feature-settings('palt');
  overflow-y: hidden;

  &::-webkit-scrollbar {
    height: 6px;
    background: transparent;
  }

  &::-webkit-scrollbar-thumb {
    background: #656565;
  }

  &::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(120, 120, 120, 0.2);
    background: #252525;
  }
}

h1,
h2,
h3,
h4,
p,
a,
span,
ul,
li {
  text-combine-upright: digits 2;
  color: $color-type;
}

p {
  font-size: 16px;
}

a {
  text-decoration: none;
}

.site {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  position: relative;

  &-content {
    min-width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.content,
.content.shelf {
  max-height: 24em;
}

.content {
  &__wrap {
    display: flex;
  }

  &.shelf {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.intro {
  display: flex;
  align-items: center;
  width: 100vw;

  @include lg {
    width: calc(100vw - 90px);
  }

  &__text {
    color: #fff;
  }

  &__title {
    font-size: 13px;
  }

  &__content {
    font-size: 18px;
  }

  &__scroll {
    font-size: 12px;
    writing-mode: horizontal-tb;
  }
}

.article {
  position: relative;
  width: 16rem;
  height: 24rem;
  margin: 4rem;

  @include lg {
    height: 20rem;
  }

  &__container {
    position: relative;

    &::after {
      content: "";
      position: absolute;
      top: 0;
      right: 13px;
      display: block;
      height: 100%;
      border-right: 6px solid #1c1c1c;
      opacity: 0.3;
      filter: blur(2px);
      z-index: 1;
      transition: opacity 0.2s linear;
    }

    &:hover::after {
      opacity: 0.5;
      transition: opacity 0.2s linear;
    }
  }

  &__container,
  &__img {
    display: block;
    width: 100%;
    height: 100%;
    box-shadow: 0 10px 20px #252525;
    transition: all .2s linear;

    &:hover {
      box-shadow: 0 10px 20px #191919;
      transition: all .2s linear;
    }
  }

  &__img {
    object-fit: cover;
    opacity: 0.8;

    &:hover {
      opacity: 1;
    }
  } 

  &__title {
    position: absolute;
    opacity: 1;

    &.ptrn-a {
      top: 0;
      right: 0;
      margin: 1.75rem 1.75rem 1.75rem 0;
      color: white;
    }

    &.ptrn-b {
      top: 0;
      right: 36%;
      margin: 1.75rem auto;
    }

    &.ptrn-c {
      top: 0;
      right: initial;
      left: 0;
      margin: 1.75rem 0 1.75rem 1.75rem;
    }

    &_main {
      margin: 0 4px;
      font-size: 22px;
    }

    &_subs {
      margin: 0 4px;
      font-size: 14px;
    }
  }
}

.article-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  

  &__img {
    width: 50vw;
    max-height: 100%;
    object-fit: cover;

    @include lg {
      width: 50vw;
    }
  }

  &__title {
    position: absolute;
    right: 0;
    margin: 90px calc(100vw / 4.5) 90px 90px;

    @include lg {
      margin-top: 64px;
      margin: 90px calc(100vw / 5.25) 90px 90px;
    }

    &_main,
    &_subs {
      margin: 0 8px;
    }

    &_main {
      font-size: 28px;
    }

    &_subs {
      font-size: 18px;
    }
  }
}

.entry {
  &-header {
    position: relative;
  }

  &-content {
    height: 380px;
    margin: 0 6rem;

    h2 {
      margin: 0 6rem 0 2rem;
    }

    h3 {
      margin: 0 4rem 0 1.75rem;
    }

    h4 {
      margin: 0 3rem 0 1.5rem;
    }

    h5 {
      margin: 0 2rem 0 1rem;
    }
  }
}

.share {
  margin: 0 5rem;

  &__container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }

  &__button {
    display: flex;
    align-items: center;
    width: 3rem;
    height: 45%;
    margin: 0 5px 0;
    padding: 0;
    color: $color-type;
    border: 1px solid $color-type;
    transition: all .3s ease;

    svg {
      fill: $color-type;
      width: 80%;
    }

    p {
      margin: 0;
      font-size: 14px;
    }

    &:hover {
      background: $color-type;
      color: $color-bg;
      transition: all .3s ease;

      svg {
        fill: $color-bg;
      }

      p {
        color: $color-bg;
      }
    }
  }
}

#wpadminbar {
  writing-mode: horizontal-tb;
}

.not-found {
  height: 380px;
  margin: 0 6rem;
}