@charset "UTF-8";
@font-face {
  font-family: 'Yu Mincho', 'Yumincho';
  src: url("../woff/yumin.woff") format("woff"); }

@font-face {
  font-family: 'Yu Mincho', 'Yumincho';
  src: url("../woff/yumin.woff") format("woff"); }

@font-face {
  font-family: 'Yu Mincho', 'Yumincho';
  src: url("../woff/yumin.woff") format("woff"); }

@font-face {
  font-family: 'Yu Mincho', 'Yumincho';
  src: url("../woff/yumin.woff") format("woff"); }

.site-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: auto;
  background: #1c1c1c;
  color: #fff; }

.site-branding {
  height: 100%;
  width: 0; }

.site-title {
  font-size: 22px;
  margin: 0;
  font-weight: 600; }
  @media (min-width: 992px) {
    .site-title {
      font-size: 28px; } }

.nav__fixed {
  position: fixed;
  top: 0;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 50px;
  height: 100%;
  background: #1c1c1c;
  z-index: 4; }
  @media (min-width: 768px) {
    .nav__fixed {
      width: 50px; } }
  @media (min-width: 992px) {
    .nav__fixed {
      width: 65px; } }
  @media (min-width: 1200px) {
    .nav__fixed {
      width: 65px; } }

.nav__toggle, .nav__bar {
  display: inline-block;
  -webkit-transition: all .4s;
  transition: all .4s; }

.nav__toggle {
  position: relative;
  width: 25px;
  height: 20px;
  margin: 0.75rem 0.75rem 2rem;
  cursor: pointer; }
  @media (min-width: 992px) {
    .nav__toggle {
      margin: 1.25rem 1.25rem 2rem; } }
  .nav__toggle.active .nav__bar:nth-of-type(1) {
    -webkit-transform: translateY(20px) scale(0);
    transform: translateY(20px) scale(0); }
  .nav__toggle.active .nav__bar:nth-of-type(2) {
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg); }
  .nav__toggle.active .nav__bar:nth-of-type(2)::after {
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg); }
  .nav__toggle.active .nav__bar:nth-of-type(3) {
    -webkit-transform: translateY(-20px) scale(0);
    transform: translateY(-20px) scale(0); }

.nav__bar {
  position: absolute;
  height: 2px;
  width: 100%;
  background: #fff; }
  .nav__bar:nth-of-type(1) {
    top: 0; }
  .nav__bar:nth-of-type(2) {
    top: 9px; }
    .nav__bar:nth-of-type(2)::after {
      position: absolute;
      top: 0;
      left: 0;
      content: '';
      width: 100%;
      height: 2px;
      background: #fff;
      -webkit-transition: all .4s;
      transition: all .4s; }
  .nav__bar:nth-of-type(3) {
    bottom: 0; }

.nav__drawer {
  -webkit-transform: translateX(100%);
  transform: translateX(100%);
  -webkit-transition: all .4s ease;
  transition: all .4s ease; }
  .nav__drawer.open {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    position: fixed;
    top: 0;
    right: 0;
    width: 100vw;
    height: 100%;
    background: #1c1c1c;
    -webkit-transform: translateX(0);
    transform: translateX(0);
    -webkit-transition: all .4s ease;
    transition: all .4s ease;
    z-index: 3; }
    @media (min-width: 992px) {
      .nav__drawer.open {
        width: 30vw;
        height: 100%;
        padding-right: 65px; } }

.nav__menus {
  height: 100%;
  margin: 0;
  font-size: 22px;
  list-style-type: none;
  padding: calc(1.25rem + 2rem + 20px) 2rem 0; }
  @media (min-width: 992px) {
    .nav__menus {
      padding: calc(1.25rem + 2rem + 20px) 0 0; } }
  .nav__menus_footer {
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    padding: 1rem 0;
    font-size: 14px;
    list-style: none;
    position: absolute;
    left: 0; }
    @media (min-width: 992px) {
      .nav__menus_footer {
        margin: 0 1.25rem 0;
        padding: 1.25rem 0; } }
    .nav__menus_footer li {
      margin: 0 0 1rem; }

.nav__overlay {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: transparent;
  -webkit-transition: background-color .2s ease;
  transition: background-color .2s ease;
  z-index: -1; }
  .nav__overlay.active {
    background: rgba(0, 0, 0, 0.6);
    -webkit-transition: background-color .2s ease;
    transition: background-color .2s ease;
    z-index: 2; }

@font-face {
  font-family: 'Yu Mincho', 'Yumincho';
  src: url("../woff/yumin.woff") format("woff"); }

@font-face {
  font-family: 'Yu Mincho', 'Yumincho';
  src: url("../woff/yumin.woff") format("woff"); }

.intro {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: calc(100vw - 50px);
  height: 380px; }
  @media (min-width: 768px) {
    .intro {
      width: calc(100vw - 50px); } }
  @media (min-width: 992px) {
    .intro {
      width: calc(100vw - 65px); } }
  @media (min-width: 1200px) {
    .intro {
      width: calc(100vw - 65px); } }
  .intro.main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start; }
  .intro__text {
    color: #fff; }
  .intro__title {
    font-size: 13px;
    margin: 0; }
  .intro__content {
    font-size: 16px; }
    @media (min-width: 992px) {
      .intro__content {
        font-size: 18px; } }
  .intro__scroll {
    position: fixed;
    bottom: 20px;
    right: 48vw;
    -webkit-transition: opacity .3s linear;
    transition: opacity .3s linear;
    margin: 0;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    -webkit-transform: translateZ(1px);
    transform: translateZ(1px); }
    .intro__scroll-text {
      position: relative;
      margin: 0;
      font-size: 12px;
      -webkit-writing-mode: horizontal-tb;
      -ms-writing-mode: lr-tb;
      writing-mode: horizontal-tb; }
    .intro__scroll-bar {
      position: absolute;
      top: 5px;
      left: -30px;
      width: 8px;
      height: 8px;
      margin-left: 15px;
      border-top: 1px solid #fff;
      border-left: 1px solid #fff;
      -webkit-transform: rotateZ(-45deg);
      transform: rotateZ(-45deg);
      -webkit-animation: scroll 2s infinite;
      animation: scroll 2s infinite;
      opacity: 0; }
      .intro__scroll-bar:nth-of-type(2) {
        left: -40px;
        -webkit-animation-delay: .15s;
        animation-delay: .15s; }
      .intro__scroll-bar:nth-of-type(3) {
        left: -50px;
        -webkit-animation-delay: .3s;
        animation-delay: .3s; }

@-webkit-keyframes scroll {
  0% {
    opacity: 0; }
  50% {
    opacity: 1; }
  100% {
    opacity: 0; } }

@keyframes scroll {
  0% {
    opacity: 0; }
  50% {
    opacity: 1; }
  100% {
    opacity: 0; } }

.article {
  position: relative;
  width: 16rem;
  height: 24rem;
  margin: 4rem; }
  .article__container {
    position: relative;
    background: #000; }
    .article__container::after {
      content: "";
      position: absolute;
      top: 0;
      right: 13px;
      display: block;
      height: 100%;
      border-right: 6px solid #1c1c1c;
      opacity: 0.3;
      -webkit-filter: blur(2px);
      filter: blur(2px);
      z-index: 1;
      -webkit-transition: opacity 0.2s linear;
      transition: opacity 0.2s linear; }
    .article__container:hover::after {
      opacity: 0.5;
      -webkit-transition: opacity 0.2s linear;
      transition: opacity 0.2s linear; }
  .article__container, .article__img {
    display: block;
    width: 100%;
    height: 100%;
    -webkit-box-shadow: 0 10px 20px #252525;
    box-shadow: 0 10px 20px #252525;
    -webkit-transition: all .2s linear;
    transition: all .2s linear; }
    .article__container:hover, .article__img:hover {
      -webkit-box-shadow: 0 10px 20px #191919;
      box-shadow: 0 10px 20px #191919;
      -webkit-transition: all .2s linear;
      transition: all .2s linear; }
  .article__img {
    -o-object-fit: cover;
    object-fit: cover;
    opacity: 0.8; }
    .article__img:hover {
      opacity: 1; }
  .article__title {
    position: absolute;
    opacity: 1;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 1.75rem; }
    .article__title.ptrn-a {
      top: 0;
      right: 0;
      -webkit-box-pack: start;
      -ms-flex-pack: start;
      justify-content: flex-start;
      color: white; }
    .article__title.ptrn-b {
      top: 0;
      right: 36%;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center; }
    .article__title.ptrn-c {
      top: 0;
      right: initial;
      left: 0;
      -webkit-box-pack: end;
      -ms-flex-pack: end;
      justify-content: flex-end; }
    .article__title_main {
      margin: 0 4px;
      font-size: 22px;
      font-weight: 600; }
      .article__title_main-ura {
        font-size: 20px;
        margin: 0; }
    .article__title_subs {
      margin: 0 4px;
      font-size: 14px;
      font-weight: 400; }
      .article__title_subs-ura {
        margin: 0; }
        .article__title_subs-ura p {
          font-size: 14px;
          font-weight: 400;
          margin: 0 .5rem; }

@font-face {
  font-family: 'Yu Mincho', 'Yumincho';
  src: url("../woff/yumin.woff") format("woff"); }

@font-face {
  font-family: 'Yu Mincho', 'Yumincho';
  src: url("../woff/yumin.woff") format("woff"); }

.article-page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  .article-page__img {
    width: 100vw;
    height: calc(var(--vh, 1vh) * 100);
    max-height: 100vh;
    -o-object-fit: cover;
    object-fit: cover; }
    @media (min-width: 992px) {
      .article-page__img {
        width: 40vw;
        height: calc(var(--vh, 1vh) * 100);
        max-height: 100vh; } }
  .article-page__title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    position: absolute;
    right: 0;
    width: calc(100% - 50px);
    height: 100%;
    padding: calc(0.75rem + 2rem + 20px) 90px; }
    @media (min-width: 992px) {
      .article-page__title {
        width: 100%;
        height: calc(var(--vh, 1vh) * 100);
        max-height: 100vh;
        padding: calc(1.25rem + 2rem + 20px) 0; } }
    .article-page__title_main, .article-page__title_subs {
      margin: 0 8px;
      line-height: 1; }
    .article-page__title_main {
      font-size: 26px; }
      @media (min-width: 992px) {
        .article-page__title_main {
          font-size: 28px; } }
    .article-page__title_subs {
      font-size: 16px; }
      @media (min-width: 992px) {
        .article-page__title_subs {
          font-size: 18px; } }

.entry-header {
  position: relative; }

.entry-content {
  height: 380px;
  margin: 0 6rem; }
  .entry-content h2 {
    margin: 0;
    padding: 0 6rem 0 2rem; }
  .entry-content h3 {
    margin: 0;
    padding: 0 4rem 0 1.75rem; }
  .entry-content h4 {
    margin: 0;
    padding: 0 3rem 0 1.5rem; }
  .entry-content h5 {
    margin: 0;
    padding: 0 2rem 0 1rem; }
  .entry-content p strong span {
    color: #000;
    background: rgba(255, 255, 255, 0.8); }

@font-face {
  font-family: 'Yu Mincho', 'Yumincho';
  src: url("../woff/yumin.woff") format("woff"); }

@font-face {
  font-family: 'Yu Mincho', 'Yumincho';
  src: url("../woff/yumin.woff") format("woff"); }

.copyright {
  position: absolute;
  bottom: 0;
  left: 0;
  margin: 3rem 1rem;
  text-align: right; }

@font-face {
  font-family: 'Yu Mincho', 'Yumincho';
  src: url("../woff/yumin.woff") format("woff"); }

@font-face {
  font-family: 'Yu Mincho', 'Yumincho';
  src: url("../woff/yumin.woff") format("woff"); }

.ez-toc-title {
  font-size: 1.5em;
  font-weight: 700; }

.ez-toc-list {
  list-style-type: none;
  padding: 0;
  line-height: 2; }
  .ez-toc-list li {
    font-weight: 700; }
  .ez-toc-list ul {
    padding: 1rem 0; }
  .ez-toc-list ul li {
    font-weight: 400; }

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

body {
  font-family: "Yu Mincho", "游明朝", "YuMincho", "Hiragino Mincho ProN", "ヒラギノ明朝 Pro", "HGP明朝B", serif;
  width: 100%;
  max-height: 100vh;
  height: calc(var(--vh, 1vh) * 100);
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-writing-mode: vertical-rl;
  -ms-writing-mode: tb-rl;
  writing-mode: vertical-rl;
  background: #313131;
  overflow-x: scroll;
  overflow-y: hidden; }
  body::-webkit-scrollbar {
    height: 6px;
    background: transparent; }
  body::-webkit-scrollbar-thumb {
    background: #656565; }
  body::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(120, 120, 120, 0.2);
    box-shadow: inset 0 0 6px rgba(120, 120, 120, 0.2);
    background: #252525; }

h1,
h2,
h3,
h4,
h5,
p,
a,
span,
ul,
li {
  text-combine-upright: digits 2;
  color: #fff; }

p {
  font-size: 16px; }

a {
  text-decoration: none; }

.site {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  height: 100%;
  position: relative; }
  .site-content {
    min-width: 100vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin: 0 50px 0 0; }
    @media (min-width: 768px) {
      .site-content {
        margin: 0 50px 0 0; } }
    @media (min-width: 992px) {
      .site-content {
        margin: 0 65px 0 0; } }
    @media (min-width: 1200px) {
      .site-content {
        margin: 0 65px 0 0; } }
  .site-main {
    height: 380px; }
    .site-main .main {
      padding: 0 8rem; }

.content,
.content.shelf {
  max-height: 24em; }

.content__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.content.shelf {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.share {
  margin: 0 5rem; }
  .share__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: space-evenly;
    -ms-flex-pack: space-evenly;
    justify-content: space-evenly; }
  .share__button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 3rem;
    height: 47.25%;
    margin: 0 5px 10px;
    padding: 0;
    color: #fff;
    border: 1px solid #fff;
    -webkit-transition: all .3s ease;
    transition: all .3s ease; }
    .share__button svg {
      fill: #fff;
      width: 80%; }
    .share__button p {
      margin: 0;
      font-size: 14px; }
    .share__button:hover {
      background: #fff;
      color: #313131;
      -webkit-transition: all .3s ease;
      transition: all .3s ease; }
      .share__button:hover svg {
        fill: #313131; }
      .share__button:hover p {
        color: #313131; }

#wpadminbar {
  -webkit-writing-mode: horizontal-tb;
  -ms-writing-mode: lr-tb;
  writing-mode: horizontal-tb; }

.not-found {
  height: 380px;
  margin: 0 6rem; }
